.logo-slider,
.master-card-slider,
.left-right-slider,
.testimonial-slider{
    .slick-list{
        overflow: visible !important;
    }
}
.master-card-slider{
    .slick-list {
        display: flex !important;
        .slick-track {
             display: flex !important;
             .slick-slide{
                &>div {
                    height: 100%;
                }
            }
                
        }
    }
}
.left-right-slider{
    @include media-breakpoint-up(lg){
        width: calc(35% + 58vw) !important;
        overflow: hidden;
    }
    @include media-breakpoint-down(lg){
        .slick-list{
            overflow: visible !important;
        }
    }
}
.master-card-slider,
.pairs-well-slider,
.left-right-slider,
.testimonial-slider{
    .slick-list{
        margin-left: -8px;
        margin-right: -8px;
        .slick-slide{
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

.testimonial-banner-slider{
    .testimonial-banner{
        transform: translateX(40px) scale(0.96);
        z-index: 1;
        transition: transform 0.5s ease;
       &.active {
            transform: translateX(0) scale(1);
            z-index: 10;
        }
    }
}
