.header{
    z-index: 999;
    .top-header{
        .top-header-btn{
            padding: 6px 30px;
            border: 1px solid $white;
        }
    }
    .header-section{
        .header-logo{
            height: 24px;
            .black-logo{
                display: none;
            }
            @include media-breakpoint-down(lg){
                height: 20px;
            }
        }
        .nav{
            .navigation{
                .menu-item{
                    @include media-breakpoint-up(xl){
                        margin-right: 40px;
                        &:last-child{
                            margin-right: 0px !important;
                        }
                    }
                    .menu-anchor{
                        color: $white;
                    }
                    span{
                        transform: rotate(45deg);
                    }
                    .menu-a{
                        color: $white;
                        &::after{
                            content: "";
                            position: absolute;
                            bottom: -26px;
                            left: 50%;
                            transform: translateX(-50%);
                            border-left: 15px solid transparent;
                            border-right: 15px solid transparent;
                            border-bottom: 15px solid #ffffff;
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                    .mega-menu{
                        height: 0px;
                        opacity: 0;
                        visibility: hidden;
                        @include media-breakpoint-up(xl){
                            background-color: $white;
                        }
                        .mega-menu-container{
                            padding: 22px 20px 22px 32px;
                            @include media-breakpoint-down(xl){
                                padding: 0px;
                            }
                            .menu-link-group{
                                .menu-link-container{
                                    border-top: 1px solid rgba($color: $color-051721, $alpha: 0.16);
                                    &:last-child{
                                        border-bottom: 1px solid rgba($color: $color-051721, $alpha: 0.16);
                                    }
                                    .menu-link{
                                        &:hover{
                                            opacity: 100% !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .burger-toggle{
            .menu-icon{
                background-color: $color-F9FAF4;
                height: 35px;
                width: 35px;
                margin-right: 5px;
                .burger-menu{
                    height: 11px;
                }
                .close{
                    display: none;
                    height: 15px;
                }
            }
        }
        .header-icon{
            height: 44px;
            width: 44px;
            background-color: $color-F9FAF4;
            margin-right: 13px;
            &:last-child{
                margin-right: 0px;
            }
            .white-icon{
                height: 17px;
            }
            @include media-breakpoint-down(xl){
                height: 35px;
                width: 35px;
                margin-right: 5px;
                .white-icon{
                    height: 15px;
                }
            }
        }
    }

    &.header-active{
          .nav{
            .navigation{
                .menu-item{
                    .mega-menu{
                        &.mega-menu-open{ 
                            height: fit-content;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    &.menu-active{
                        .menu-a{
                            &::after{
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
    &.dark-header,
    &.res-header-active{
        .header-section{
            .header-logo{
                height: 24px;
                .black-logo{
                    display: block;
                }
                .white-logo{
                    display: none;
                }
            }
             .nav{
                .navigation{
                    .menu-item{
                        .menu-anchor{
                            color: $color-051721;
                        }
                    }
                }
            }
            .burger-toggle{
                .menu-icon{
                    background-color: $color-051721;
                     img{
                        filter: invert(1);
                    }
                }
            }
            .header-icon{
                background-color: $color-051721;
                img{
                    filter: invert(1);
                }
            }
        }
    }
    &.res-header-active{
        background-color: $white;
        height: 100vh;
        overflow: auto;
        .nav{
            @include media-breakpoint-down(xl){
                .navigation{
                    margin-top: 125px;
                    .menu-item{
                            margin-bottom: 35px;
                        .menu-anchor{
                                font-size: $res-font24;
                                line-height: $leading35;
                        }
                    }
                }
            }
        }
        .burger-toggle{
            .menu-icon{
                .burger-menu{
                    display: none;
                }
                .close{
                    filter: invert(0) !important;
                    display: block;
                    height: 13px;
                }
            }
        }
    }
    &.hidden {
        transform: translateY(-200px);
    }

    &.header-fixed-os {
        transform: translateY(0px);
    }

    &.header-fixed {
        background-color: $color-051721;
    }
    &.header-fixed.dark-header {
        background-color: $color-F9FAF4;
    }
}

.search-header{
    .search-logo{
        height: 25px;
    }
    .header-icon-bg{
        height: 44px;
        width: 44px;
        background-color: $color-F9FAF4;
        .header-icon-img{
            height: 18px;
        }
    }
}

body{
    &.header-active-bg{
        position: relative;
        &::after{
            content: '';
            height: 100%;
            width: 100%;
            background-color: rgba($color: $black, $alpha: 0.31);
            backdrop-filter: blur(6px);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}