.home-hero-section{
    .home-hero-image{
        height: 535px;
        @include media-breakpoint-down(lg){
            height: 275px;
        }
    }
}

.sub-hero-section{
    height: 481px;
    @include media-breakpoint-down(lg){
        height: 424px;
    }
}

.logo-slider-section{
    .logo-slider{
        .logo-slider-image{
            height: 45px;
        }
    }
}

.left-right-section{
    .left-image{
        height: 541px;
        @include media-breakpoint-down(lg){
            height: 345px;
        }
    }
    .watch-btn{
        padding: 9px 30px;
        img{
            height: 11px;
        }
    }
}

.full-banner-section{
    .full-banner-img{
        height: 595px;
        width: 427px;
        transform: translateY(140px);
        @include media-breakpoint-down(lg){
            height: 330px;
            width: 240px;
            transform: translateY(56px);
        }
    }
}

.testimonial-banner-slider-section{
    @include media-breakpoint-up(lg){
        height: 625px;
    }
    .testimonial-controls{
        .testimonial-prev-arrow{
            margin-right: 15px;
            @include media-breakpoint-down(lg){
                margin-right: 10px;
            }
        }
        .testimonial-prev-arrow,
        .testimonial-next-arrow{
            height: 50px;
            width: 50px;
            @include media-breakpoint-down(lg){
                height: 36px;
                width: 36px;
            }
        }
    }
}